{
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": false,
        "moduleName": "babel-runtime"
      }
    ],
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-async-generator-functions",
    "transform-do-expressions",
    "syntax-trailing-function-commas",
    "transform-function-bind",
    "transform-react-jsx"
  ],
  "sourceMaps": true,
  "retainLines": true
}
